html, body, #app {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

.is-xtra-large {
  font-size: 2em;
}

.is-linethrough {
  text-decoration: line-through;
}

.has-margin-bottom-small {
  margin-bottom: 1em;
}

.tag {
  display: inline-block;
  background-color: #ccc;
  border-radius: 3px;
  padding: 3px 5px;
}

.tag.is-success {
  background-color: #25d976;
}

.tag.is-warning {
  background-color: #d99a25;
}

.tag.is-danger {
  background-color: #d95825;
}

.tags > .tag {
  margin-right: 10px;
}

.is-padded {
  margin: 8px;
}

.is-small {
  font-size: smaller;
}