.progress-ring > circle {
  transition: stroke-dashoffset 0.35s, color 0.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-ring > text {
  font-size: 2em;
  color: #363636;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}